* {
    box-sizing: border-box;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
}

body, html, #root, .btn {
    font-size: 16px;
    font-family: 'Source Code Pro', monospace, Cambria, Cochin, Georgia, serif;
}

body {
    background-color: white;
    min-height: 100vh;
    min-width: 100%;
    perspective: 35rem;
    perspective-origin: 50% 50%;
}

header {
    background-color: black;
    color: white;
    margin: 0rem auto;
    min-height: min(10vh, 10rem);
    padding: 0.5rem 0.5rem;
    text-align: center;
    transform-style: preserve-3d;
}

header h1 {
    font-family: 'Meow Script', 'Source Code Pro', monospace, Cambria, Cochin, Georgia, serif;
    font-size: min(10vw, 5rem);
}

header p {
    font-size: min(5vw, 1rem);
    margin: 0rem auto;
    max-width: 75rem;
    padding: 0rem 0rem;
}

main {
    background-color: rgba(255, 255, 255, 0);
    border: 0.25rem solid black;
    box-shadow: inset -0.25rem 0.25rem 0.5rem 0rem rgba(15, 30, 50, 0.25), 
        inset 0.25rem -0.25rem 0.5rem 0.25rem rgba(100, 100, 100, .5),
        -0.5rem 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.5);
    min-height: min(80vh, 60rem);
    margin: 0rem auto;
    padding: 0rem min(5%, 1.5rem) 0rem min(5%, 1.5rem);
    transform-style: preserve-3d;
}

footer {
    color: white;
    font-size: min(7vw, 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: repeating-conic-gradient(from 45deg, rgba(150, 155, 160, 0.75) 0deg 30deg, rgba(180, 185, 190, 0.75) 30deg 60deg, rgba(210, 215, 220, 0.75) 60deg 90deg, rgba(15, 30, 50, 1) 90deg 180deg);
    background-size: 3rem 3rem;
    border: 0.25rem solid rgba(0, 0, 0, 1);
    margin: 0rem auto;
    min-height: min(15vh, 10rem);
    text-align: center;
    text-shadow: -0.25rem 0.25rem 0.5rem black,
                -0.15rem 0.15rem 0rem black;
    transform-style: preserve-3d;
    width: 100%;
}

.calculator_container {
    background-color: rgb(15, 30, 50);
    background-image: radial-gradient(circle at 100% 0%, rgb(131, 172, 224) 0%, rgb(15, 30, 50) 100%);
    border: 2px solid black;
    border-radius: 0.5rem;
    box-shadow: inset -0.25rem 0.25rem 0.5rem 0rem rgba(15, 30, 50, 0.25), 
        inset 0.25rem -0.25rem 0.5rem 0.25rem rgba(100, 100, 100, .5),
        -0.5rem 0.5rem 0.5rem 0.25rem rgba(0, 0, 0, 0.5),
        -0.25rem 0.5rem rgb(15, 30, 50);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 65rem;
    min-height: min(65vh, 45rem);
    margin: min(10vw, 2rem) auto min(15vw, 4rem) auto;
    padding: min(5vw, 1rem) min(5vw, 1rem);
    transform: rotateX(10deg) translateY(max(-10vw, -1.5rem));
    transform-style: preserve-3d;
    z-index: 5;
}

.input_output_screen, .btn_group {
    margin: 0.5rem 0.5rem;
    text-align: center;
}

.input_output_screen {
    background-color: rgb(215, 230, 255);
    background-image: radial-gradient(circle at 100% 0%, white 0%, rgb(215, 230, 255) 100%);
    border: 2px solid black;
    border-radius: 0.5rem;
    box-shadow: inset -0.15rem 0.15rem 0.5rem 0.25rem rgba(100, 100, 100, 0.25), 
        inset 0.15rem -0.15rem 0.5rem 0.25rem rgba(100, 100, 100, .5),
        -0.15rem 0.15rem 0.5rem 0rem rgba(255, 255, 255, 0.5);
    flex: 2;
    min-height: min(40vh, 25rem);
    max-height: min(40vh, 50rem);
    min-width: min(60vw, 30rem);
    overflow: scroll;
    padding: 1rem 1rem;
    vertical-align: top;
}

.show_input, .show_output, .old_input_container {
    border-bottom: 1px dotted rgba(119, 136, 153, 0.75);
    font-size: min(7vw, 2rem);
    margin: 0rem auto;
    text-align: right;
}
.btn_group {
    flex: 1;
    min-height: min(30vh, 30rem);
    min-width: min(40vw, 20rem);
    padding: 0rem 0rem;
}

.btn {
    background-color: rgb(240, 245, 250);
    border: 1px solid black;
    border-radius: 0.25rem;
    box-shadow:  
        inset 0.15rem -0.15rem 0.25rem 0.1rem rgba(200, 200, 200, .5),
        -0.15rem 0.15rem 0.25rem 0.1rem black;
    display: inline-block;
    font-size: min(7vw, 2rem);
    margin: min(0.5vw, 0.5rem) min(0.25vw, 0.25rem);
    padding: min(1vw, 0.25rem) min(4vw, 1.25rem);
}